
body{
    display:-webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    /*font-family: 'Be Vietnam Pro', sans-serif;*/
    font-family: "Josefin Sans";
    font-style: normal; 
    font-variant: normal; 
    line-height: 2vw;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    background-color:white;
}

/***********------index.html------**************/

/******...NavBar...*********/
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60vmax;
    background-image: url('../img/header/pesca-tradicional.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

#nav-nosotros{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 55vmax;
    background-image: url('../img/nosotros/Nosotros-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.NM-NavBar{
    padding-top: 0.5%;
    color: white;
    display: flex;
    align-items: center;
    width: 80%;
    height: 13vmax;
    font-size: 1.9vw;
   
}
.NM-div-title{
    width: 40%;
    padding: 0% 0%;
    text-align: center;
}
.NM-div-Menu{
    width: 60%;
    display: flex;
    justify-content: right;
    padding: 0% 0%;
    align-items: center;
    animation: NavMenu 0.5s ease-in;

}
#btn-menu{
    display: none;
}
nav label{
    display: none;
    text-align: center;    
    width: 10%;
    
}
nav label:hover{
    cursor: pointer;
    background: #191919;
    filter: invert();
}
.NM-div-Menu ul{
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    flex-direction: row; 
}
.NM-div-Menu li:hover{
    background: #191919;
    filter: invert();
}
.NM-div-Menu li a{
    display: block;
    padding: 0% 2vw;
    color: white;
    font-size: 2vw;
    text-decoration: none;
    
}
@keyframes NavMenu{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 5;
        transform: translateX(0%);
    }
}
.DF-Home{
    font-size: 3.2vw;
    line-height: 4.5vw;
    text-align: center;
    position: absolute;
    justify-content: center;
    top: 85%;
    right: 10%;
    left: 10%;
    padding: 0% 0vw;
    -webkit-text-stroke: 0.0px black;

}

/******...NavBar RESPONSIVE...*********/
@media screen and (max-width:500px) {
    nav{
        height: 51vh;
    }

    nav label{
        display: block;
        z-index: 1;
        
    }
    
    .NM-NavBar{
        width: 100%;
        font-size: 4vw;
        height: 9vh;
    }

    .NM-div-title{
        width: 100%;

    }
    .NM-div-title>img{
        padding-top: 5%;
        width: 20%;
        text-align: left;
    }
    .NM-div-Menu{
        display: none;
        position: absolute;
        z-index: 2;
        right: 0;
		top: 10vh;
		background-color: rgba(25,25,25,0.8);
        flex-direction: column;
        align-items: center;
        width: 34%;   
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .NM-div-Menu ul{
        text-align: center;
        flex-direction: column;
        border-left: 1px solid rgba(45,45,45,1);
        margin: 0%;
        
    }
    .NM-div-Menu li{
        border-bottom: 1px solid rgba(45,45,45,1);
    }
    input[type=checkbox]:checked~ .NM-div-Menu{
        display: flex;
        transform: translateX(0%);
        transition: transform 0.3s ease-in;
    }
}


/************...Reseña del programa...************/
.NM-Programa{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
}
.NM-Programa-img{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 0%;
    animation: ImagHeader 1.5s ease-in;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}
.NM-Programa-img img{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    width: 50%;
}

.NM-Programa-reseña{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    margin-right: 5%;
    font-size: 1.3vw;
    

}

/************...DIV-CONTAINER-HEADER...************/
.containerHeader{
    background:white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 5%;
    border-top: 0.5px solid black;
    margin-bottom: 0%;
    
}
.headerItem1{
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 6%;
}
.headerItem1 .headerTitle{
width: 100%;
color: black;
font-size: 3vw;
font-weight: bolder;
text-align: left;
}
.headerItem1 .headerText{
width: 100%;
color: black;
text-align: left;
font-size: 1.2vw;
text-align: justify;
}
.containerHeader .headerbutton{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4vw;
    border-style: solid;
    border-color: black;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.5vw;
}
.containerHeader .headerbutton:hover{
    background: white;
    filter: invert();
}
.containerHeader .headerbutton div{
    color: black;
    display: flex;
    text-align: center;
}
.headerItem2{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    width: 50%;
    height: 50vmax;
    margin: 5%;
    animation: ImagHeader 1.5s ease-in;
    overflow:hidden;
}
.headerItem2>img{
    height: 90%;
    
}

@keyframes ImagHeader{
    from{
        -webkit-transform:scale(0.2);
        transform:scale(0.2);
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}

.headerItem2:hover{
    -webkit-transform:scale(1.07);
    transform:scale(1.07);
    transition: 1s;
}
.headerItem2 img{
    display: flex;
    position: absolute;
    width: 100%;
}
a{
    color: white;
}

/************...DIV-CONTAINER-HEADER RESPONSIVE...************/
@media screen and (max-width:500px) {
    .containerHeader{
        flex-direction: column-reverse;
        width: 100%;
        
    }
    .headerItem2{
        width: 80%;
        height: 60vw;
        margin: 2%;
        flex-direction: column;
        justify-content: center;
    }

    .headerItem1{
        margin: 2%;
        width: 80%;
        align-items: center;
        padding-bottom: 3%;
        flex-direction: column;

    }

    .headerItem1 .headerTitle{
        font-size: 8vw;
        text-align: center;
        padding-bottom: 6%;
    }
        
    .headerItem1 .headerText{
        width: 95%;
        text-align: center;
        font-size: 3.8vw;
        padding-bottom: 5%;
    }
        
    .headerItem1 .headerbutton{
        align-self: center;
        width: 45%;
        height: 12vw;
        font-size: 4vw;
    }
}

/***********-----Solucion-----**************/
.DF-Div-Solucion{
    background:white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    border-top: 0.5px solid black;
    margin: 5%;
    font-size: 1.9vw;
    margin-bottom: 0%;

}

.DF-Div-Solucion-img{
    width: 100%;
    text-align: center;

}
/***********-----Nosotros-----**************/
.DF-Team{
    width: 100%;
    text-align: left;

}
/***********-----registro.html-----**************/
.NM-Registro{
    display: flex;
    justify-content: center;
    background-color: #191919;
    width: 100%;
    padding: 4% 0%;
}
.NM-div-Registro{
    display: flex;
    background-color: #191919;
    width: 80%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    position: relative;
    flex-direction: row;
    z-index: 10;

    justify-content: center;
}
.NM-Registrate{
    text-align: center;
    background-color: white;
    width: 50%;
    font-size: 1.3vw;
    line-height: 0;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.NM-div-formulario{
    display:flex;
    padding: 2% 5%;
    flex-direction: column;
    width: 50%;
    color: white;
    font-size: 1.2vw;
    
}
.NM-Registro-imag {
    max-width: 50%;
    height: auto;
    animation: ImagHeader 1.5s ease-in;
}
.NM-Registro-imag:hover{
    max-width: 53%;
    transition: all 1s;
}
.NM-div-formulario>form{
    display:flex;
    flex-direction: column;
}
.NM-div-formulario>form>input{
    width: 100%;
    padding: 0.5%;
    border: none;
    background-color: #191919;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.2vw;
}
.NM-div-formulario>form>label{
    padding: 0.7% 0%;
 
}
.NM-div-button{
    display: flex;
    justify-content: center;
    padding: 3% 0%;
}
.NM-div-button>div{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    border-style: solid;
    border-color: white;
    align-self: flex-start;
    font-weight: bold;
}
.NM-div-button>div:hover{
    background: #191919;
    filter: invert();
    cursor: pointer;

}
.NM-div-button>div>input:hover{
    cursor: pointer;

}
.NM-button{
    text-align: center;
    font-size: 1.5vw;
    background-color:#191919 ;
    color: white;
    padding: 2% 4%;
    border-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
.NM-div-formulario>form>label{
    padding-top: 3%;
}

.NM-div-formulario>form>p{
    color: red;
    font-size: 0.9vw;
    margin-bottom: 0;
    margin-top: 0.2vw;
    display: none;
}
/***********-----Registro Exitoso-----**************/
.NM-div-RegistroExitoso{
    display: none;
    background-color: #191919;
    color: white;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border: 1px solid white;
    z-index: 20;
    font-size: 1.4vw;
}
#RegistroExitosoTitle{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 5%;
}
#RegistroExitosoTitle>h2{
    margin-left: 2%;
}
#RegistroExitoso>p{
    text-align: left;
    align-items: left;
    width: 100%;
    margin: 1% 15%;
}
#MostrarRegistro{
    flex-direction: column;
    line-height: 1vw;
}




/***********...registro RESPONSIVE...**************/
@media screen and (max-width:500px) {
.NM-div-Registro{
    width: 70%;
    flex-direction: column;
}
.NM-Registrate{
    width: 100%;
    font-size: 3.5vw;
}
.NM-div-formulario{
    padding: 5% 10%;
    width: 80%;
    font-size: 4vw;
}
.NM-div-formulario>form>input{
    width: 100%;
    padding: 2%;
    font-size: 3.5vw;
}
.NM-Registro-imag {
    max-width: 25%;
    height: auto;
}
.NM-button{
    font-size: 3vw;
}
.NM-Registro-imag:hover{
    max-width: 26%;
    transition: all 1s;
}

}